body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

table {
    width: 35%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #4a90e2;
    color: white;
  }
  #actionButton {
    background-color: #4a90e2;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  #actionButton:hover {
    background-color: #3a78c2;
  }
  

h1 {
    font-size: 2.5rem;
    color: #4a4a4a;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  #score {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin-bottom: 20px;
  }

  

input {
    width: 100%;
    box-sizing: border-box;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: pink;
}

.correct-answer {
    color: green;
}
