/*--------Page Settings---------*/
body,
html {
	font-family: 'Montserrat', sans-serif;

	background: #ffffff;

/*background-image: url("img/bg.jpg");*/

}

hr {
	width: 50%;
	border: none;
	height: 1px;
	background-color: #303030;
}

h2 {
	text-indent: 1em;
	text-align: center;
}

/*--------Presentation------------*/
.content {
	max-width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.fade-in {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile {
	margin-right: 20px;
}

.intro {
	text-align: left;
}

.header {
	text-align: center;
	font-size: 24px;
}

.profilePicture {
	width: 150px;
	border-radius: 50px;
	margin: 10px;
	box-shadow: 3px 3px 20px #888888;
}


/*--------Projects Lists----------*/
.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}

.project-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: calc(50% - 20px); 
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.project-icon {
	width: 100px;
	height: 100px;
	margin-right: 20px;
	border-radius: 35px;
	box-shadow: 3px 3px 20px #888888;
	transition: transform 0.3s;
}

.project-icon:hover {
	transform: scale(1.2);
}

.project-info {
	flex-grow: 1;
}

.project-name {
	margin: 0;
}

.project-description {
	margin: 0;
}

.project-date {
	font-size: 14px;
	font-style: italic;
	margin: 0;
}
