body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
h1 {
    font-size: 2.5rem;
    color: #4a4a4a;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

    button:hover {
        background-color: #ddd;
        border-color: #999;
    }

    button:disabled {
        background-color: #f1f1f1;
        border-color: #ccc;
        cursor: not-allowed;
    }

    button:not(:last-child) {
        margin-right: 10px;
    }

#showAllWordsButton {
    margin-top: 20px;
}


.word-list-container {
    max-height: 400px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    overflow-y: auto;
    border: 1px solid #ccc; /* Pour rendre le conteneur visible, même s'il est vide */
    padding: 10px;
    margin-top: 10px;
}


.word-list {
    display: inline-block;
    text-align: left;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card.incorrect {
        border-color: #ff4d4d;
        box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
        color: #ff4d4d;
    }

    .card.correct {
        border-color: #4caf50;
        box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
        color: #4caf50;
    }

input {
    margin-top: 20px;
    padding: 5px 10px;
}

.answer-container {
    margin-top: 10px;
    font-weight: bold;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    margin-bottom: 10px;
    padding: 5px 10px;
}

button {
    padding: 5px 10px;
}

.answer-container {
    margin-top: 20px;
}
