body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*---------------Triangles Anim--------------*/
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 999;
    pointer-events: none;
}

.triangle-top {
    top: 0;
    left: 0;
    border-width: 100vw 100vw 0 0;
    border-color: rgb(14, 0, 63) transparent transparent transparent;
    animation-name: slideTop;
}

.triangle-bottom {
    bottom: 0;
    left: 0;
    border-width: 0 0 100vw 100vw;
    border-color: transparent transparent rgb(14, 0, 63) transparent;
    animation-name: slideBottom;
}

@keyframes slideTop {
    from {
        border-width: 100vw 100vw 0 0;
    }
    to {
        border-width: 5vw 100vw 0 0;
    }
}
@keyframes slideTopClose {
    from {
        border-width: 5vw 100vw 0 0;
    }
    to {
        border-width: 100vw 100vw 0 0;
    }
}

@keyframes slideBottom {
    from {
        border-width: 0 0 100vw 100vw;
    }
    to {
        border-width: 0 0 5vw 100vw;
    }
}
@keyframes slideBottomClose {
    from {
        border-width: 0 0 5vw 100vw;
    }
    to {
        border-width: 0 0 100vw 100vw;
    }
}

/*----Mobile----*/
@media (max-width: 768px) {
    @keyframes slideTop {
        from {
            border-width: 100vw 100vw 0 0;
        }
        to {
            border-width: 10vw 100vw 0 0; 
        }
    }

    @keyframes slideBottom {
        from {
            border-width: 0 0 100vw 100vw;
        }
        to {
            border-width: 0 0 10vw 100vw; 
        }
    }
    @keyframes slideTopClose {
        from {
            border-width: 10vw 100vw 0 0; 
        }
        to {
            border-width: 100vh 100vw 0 0;
        }
    }
    @keyframes slideBottomClose {
        from {
            border-width: 0 0 10vw 100vw; 
        }
        to {
            border-width: 0 0 100vh 100vw;
        }
    }
}

/* fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.left-content,
.right-content {
    opacity: 0; 
    animation: fadeIn 1s forwards; 
}

.left-content {
    animation-delay: .1s;
}

.right-content  {
    animation-delay: .25s;
}
