h1 {
    font-size: calc(2.5rem + 2vw); 
	margin-bottom: 5px;
}
h1 span {
    transition: transform 0.3s, color 0.3s; 
    display: inline-block; 
}

h1 span:hover {
    transform: scale(1.1); 
    color: #007BFF; 
}

/*-----Follow----*/
#follower {
    position: fixed;
    pointer-events: none; 
    display:inline-block; 
    transition: transform 0.1s ease-out; 
	background-color: #00000028;
    z-index: 500;
}

.follow-circle {
    width: 25px;
    height: 25px;
    background-color: #007bff65; 
    border-radius: 50%; 
    pointer-events: none; 
    position: absolute;
    display: none; 
    transition: transform 0.1s ease-out;
}

