h1 {
    font-size: calc(2.5rem + 2vw); 
	margin-bottom: 5px;
}
h1 span {
    transition: transform 0.3s, color 0.3s; 
    display: inline-block; 
}

h1 span:hover {
    transform: scale(1.1); 
    color: #007BFF; 
}